<footer>
  <h1 class="vcard">
    <a class="email" href="mailto:veganstraightedge@gmail.com">
      <span class="fn author">Shane Becker</span>
    </a>
    <span class="verb">published</span>
    <span class="little-word">this</span>
    <%= link_to @content_type, "/#{@content_type.pluralize}", :class => "object-type" %>
    <span class="little-word">on</span>

    <%= link_to sample_post_path(@content_type), html_options = { :rel => "bookmark" } do %>
      <time datetime="<%= Time.now.strftime("%Y-%H-%MT%H:%M") %>" pubdate>
        <%= Time.now.strftime("%B %d, %Y") %>
        <span class="little-word">at</span>
        <%= Time.now.strftime("%I:%M") %>
      </time>
    <% end %>
  </h1><!-- .vcard -->

  <p class="tags">
    Tagged <span class="little-word">with</span>

    <% @tags.each do |tag| %>
      <%= link_to tag, "/tags/#{tag.gsub(/\s/, '+')}", :rel => "tag" %>
    <% end unless @tags.blank? %>
  </p><!-- .tags -->
</footer>
