<footer>
  <h1 class="vcard">
    <a class="email" href="mailto:veganstraightedge@gmail.com"><span class="fn author">Shane Becker</span></a>
    <span class="verb">published</span>
    <span class="little-word">this</span>
    <%= link_to action_name, action_name.pluralize, :class => "object-type" %>
    <span class="little-word">on</span>

    <time datetime="<%= Time.now.strftime("%Y-%H-%MT%H:%M") %>" pubdate>
      <%= Time.now.strftime("%B %d, %Y") %>
      <span class="little-word">at</span>
      <%= Time.now.strftime("%I:%M:%S") %>
    </time>
  </h1><!-- .vcard -->

  <p class="tags">
    Tagged <span class="little-word">with</span>

    <% @tags.each do |tag| %>
      <%= link_to tag, "/tags/#{tag.gsub(/\s/, '+')}", :rel => "tag" %>
    <% end unless @tags.blank? %>
  </p><!-- .tags -->
</footer>
